<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.jlillioja.project1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DiscoverFragment">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailsFragment"
            android:label="@string/title_activity_movie_details"
            android:parentActivityName=".DiscoverFragment">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DiscoverFragment" />
        </activity>
        <activity
            android:name=".ReviewsFragment"
            android:label="Reviews"
            android:parentActivityName=".DetailsFragment">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DetailsFragment" />
        </activity>

    </application>

</manifest>
